@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button, input, optgroup, select, textarea {
  @apply !h-10 !min-h-10;
}

.alert-info {
  @apply bg-sky-200 text-sky-600 font-medium;
}

.alert-error {
  @apply bg-red-200 text-red-600 font-medium;
}

.alert-warning {
  @apply bg-orange-200 text-orange-600 font-medium;
}